bassa-client-devel/php/bassa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="bassa"
 targetNamespace="http://localhost:8095/bassa.wsdl"
 xmlns:tns="http://localhost:8095/bassa.wsdl"
 xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
 xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:bassa="urn:bassa"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap12/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:bassa"
  xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
  xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:bassa="urn:bassa"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/2003/05/soap-encoding"/>
  <complexType name="authRequest">
   <sequence>
     <element name="uid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="passwd" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="authToken">
   <sequence>
     <element name="authTokenVal" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
     <element name="authTokenTimeout" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
     <element name="authMessage" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="authStatus" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="request">
   <sequence>
     <element name="url" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="contentLength" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
     <element name="authTokenVal" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
     <element name="uuid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Array100Oftime">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:dateTime[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Array100OfunsignedLONG64">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:unsignedLong[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Array100Ofint">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:int[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Array100Ofstring">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:string[]"/>
    </restriction>
   </complexContent>
  </complexType>
 </schema>

</types>

<message name="enqueueRequest">
 <part name="r" type="bassa:request"/>
</message>

<message name="enqueueResponse">
 <part name="response" type="xsd:string"/>
</message>

<message name="search">
 <part name="offset" type="xsd:int"/>
 <part name="sort-type" type="xsd:int"/>
 <part name="url" type="xsd:string"/>
</message>

<message name="file-set">
 <part name="auth-status" type="xsd:int"/>
 <part name="auth-message" type="xsd:string"/>
 <part name="offset" type="xsd:unsignedInt"/>
 <part name="total" type="xsd:unsignedInt"/>
 <part name="object-limit" type="xsd:unsignedInt"/>
 <part name="svr-msg" type="xsd:string"/>
 <part name="file" type="bassa:Array100Ofstring"/>
 <part name="url" type="bassa:Array100Ofstring"/>
 <part name="status" type="bassa:Array100Ofstring"/>
 <part name="hits" type="bassa:Array100Ofint"/>
 <part name="local-url" type="bassa:Array100Ofstring"/>
 <part name="content-length" type="bassa:Array100OfunsignedLONG64"/>
 <part name="start-time" type="bassa:Array100Oftime"/>
 <part name="end-time" type="bassa:Array100Oftime"/>
 <part name="uuid" type="bassa:Array100Ofstring"/>
 <part name="bassa-id" type="bassa:Array100Ofstring"/>
</message>

<message name="list-all">
 <part name="offset" type="xsd:int"/>
 <part name="sort-type" type="xsd:int"/>
</message>

<message name="deleteRequest">
 <part name="id" type="xsd:int"/>
</message>

<message name="deleteResponse">
 <part name="response" type="xsd:string"/>
</message>

<message name="latest-downloads">
 <part name="offset" type="xsd:int"/>
</message>

<message name="get-statusRequest">
 <part name="id" type="xsd:int"/>
</message>

<message name="get-statusResponse">
 <part name="response" type="xsd:string"/>
</message>

<message name="list-byuuid">
 <part name="offset" type="xsd:int"/>
 <part name="sort-type" type="xsd:int"/>
 <part name="uuid" type="xsd:string"/>
</message>

<portType name="bassaPortType">
 <operation name="enqueue">
  <documentation>Service definition of function bassa__enqueue</documentation>
  <input message="tns:enqueueRequest"/>
  <output message="tns:enqueueResponse"/>
 </operation>
 <operation name="search">
  <documentation>Service definition of function bassa__search</documentation>
  <input message="tns:search"/>
  <output message="tns:file-set"/>
 </operation>
 <operation name="list-all">
  <documentation>Service definition of function bassa__list_all</documentation>
  <input message="tns:list-all"/>
  <output message="tns:file-set"/>
 </operation>
 <operation name="delete">
  <documentation>Service definition of function bassa__delete</documentation>
  <input message="tns:deleteRequest"/>
  <output message="tns:deleteResponse"/>
 </operation>
 <operation name="latest-downloads">
  <documentation>Service definition of function bassa__latest_downloads</documentation>
  <input message="tns:latest-downloads"/>
  <output message="tns:file-set"/>
 </operation>
 <operation name="get-status">
  <documentation>Service definition of function bassa__get_status</documentation>
  <input message="tns:get-statusRequest"/>
  <output message="tns:get-statusResponse"/>
 </operation>
 <operation name="list-byuuid">
  <documentation>Service definition of function bassa__list_byuuid</documentation>
  <input message="tns:list-byuuid"/>
  <output message="tns:file-set"/>
 </operation>
</portType>

<binding name="bassa" type="tns:bassaPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="enqueue">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
 <operation name="search">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
 <operation name="list-all">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
 <operation name="delete">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
 <operation name="latest-downloads">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
 <operation name="get-status">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
 <operation name="list-byuuid">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:bassa" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
</binding>

<service name="bassa">
 <documentation>gSOAP 2.7.9l generated service definition</documentation>
 <port name="bassa" binding="tns:bassa">
  <SOAP:address location="http://localhost:8095/bassa"/>
 </port>
</service>

</definitions>
